:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --topbar-text-color: #1a1a1a;
}

:root {
    --topbar-text-color: #fff;
}
